.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #6fab5c !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #6fab5c !important;
  border-color: #6fab5c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #4a743c !important;
  border-color: #4a743c !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #4a743c !important;
  border-color: #4a743c !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #6592e6;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: #2260d2 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #6fab5c;
  color: #6fab5c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4a743c !important;
  background-color: transparent!important;
  border-color: #4a743c !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #6fab5c !important;
  border-color: #6fab5c !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #6fab5c !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #436a37 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #6fab5c;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b9d6b0;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sGNxiKC5ev {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sGNxiKC5ev nav.navbar {
  position: fixed;
}
.cid-sGNxiKC5ev .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sGNxiKC5ev .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sGNxiKC5ev .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sGNxiKC5ev .dropdown-item:hover,
.cid-sGNxiKC5ev .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-sGNxiKC5ev .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sGNxiKC5ev .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sGNxiKC5ev .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sGNxiKC5ev .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sGNxiKC5ev .nav-link {
  position: relative;
}
.cid-sGNxiKC5ev .container {
  display: flex;
  margin: auto;
}
.cid-sGNxiKC5ev .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sGNxiKC5ev .dropdown-menu,
.cid-sGNxiKC5ev .navbar.opened {
  background: #161616 !important;
}
.cid-sGNxiKC5ev .nav-item:focus,
.cid-sGNxiKC5ev .nav-link:focus {
  outline: none;
}
.cid-sGNxiKC5ev .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sGNxiKC5ev .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sGNxiKC5ev .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sGNxiKC5ev .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sGNxiKC5ev .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sGNxiKC5ev .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sGNxiKC5ev .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #161616;
}
.cid-sGNxiKC5ev .navbar.opened {
  transition: all 0.3s;
}
.cid-sGNxiKC5ev .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sGNxiKC5ev .navbar .navbar-logo img {
  width: auto;
}
.cid-sGNxiKC5ev .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sGNxiKC5ev .navbar.collapsed {
  justify-content: center;
}
.cid-sGNxiKC5ev .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sGNxiKC5ev .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sGNxiKC5ev .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sGNxiKC5ev .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sGNxiKC5ev .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sGNxiKC5ev .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sGNxiKC5ev .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sGNxiKC5ev .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sGNxiKC5ev .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sGNxiKC5ev .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sGNxiKC5ev .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sGNxiKC5ev .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sGNxiKC5ev .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sGNxiKC5ev .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sGNxiKC5ev .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sGNxiKC5ev .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sGNxiKC5ev .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sGNxiKC5ev .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sGNxiKC5ev .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sGNxiKC5ev .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sGNxiKC5ev .navbar.navbar-short {
  min-height: 60px;
}
.cid-sGNxiKC5ev .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sGNxiKC5ev .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sGNxiKC5ev .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sGNxiKC5ev .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sGNxiKC5ev .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sGNxiKC5ev .dropdown-item.active,
.cid-sGNxiKC5ev .dropdown-item:active {
  background-color: transparent;
}
.cid-sGNxiKC5ev .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sGNxiKC5ev .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sGNxiKC5ev .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sGNxiKC5ev .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #161616;
}
.cid-sGNxiKC5ev .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sGNxiKC5ev .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sGNxiKC5ev ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sGNxiKC5ev .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sGNxiKC5ev button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sGNxiKC5ev button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sGNxiKC5ev button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sGNxiKC5ev button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sGNxiKC5ev button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sGNxiKC5ev button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sGNxiKC5ev nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sGNxiKC5ev nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sGNxiKC5ev nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sGNxiKC5ev nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sGNxiKC5ev .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sGNxiKC5ev a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sGNxiKC5ev .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sGNxiKC5ev .navbar {
    height: 70px;
  }
  .cid-sGNxiKC5ev .navbar.opened {
    height: auto;
  }
  .cid-sGNxiKC5ev .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sGNyX2L4RT {
  display: flex;
  background-color: #000000;
  background: linear-gradient(90deg, #000000, #165f15);
}
.cid-sGNyX2L4RT .mbr-overlay {
  background: #1516b0;
  background: linear-gradient(90deg, #1516b0, #adcde9);
}
.cid-sGNyX2L4RT .mbr-section-title {
  margin: 0;
}
.cid-sGNyX2L4RT .mbr-text {
  color: #efefef;
}
.cid-sGNyX2L4RT .card-title {
  text-align: left;
  color: #ffffff;
}
.cid-sGNyX2L4RT .card-img {
  text-align: left;
}
.cid-sGNyX2L4RT .card .card-img span {
  font-size: 60px;
  color: #ffffff;
}
.cid-sGNyX2L4RT .header-content {
  margin-left: 3rem;
  margin-right: 3rem;
  -webkit-align-self: stretch;
  align-self: stretch;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-sGNyX2L4RT .header-content .text-row {
  margin: auto 0;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sGNyX2L4RT .features-row {
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-sGNyX2L4RT .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sGNyX2L4RT .header-content {
    margin-right: 0;
    margin-left: 0;
  }
}
.cid-sGNyX2L4RT .title-cont,
.cid-sGNyX2L4RT .mbr-section-title DIV {
  text-align: left;
}
.cid-sGNyX2L4RT .card-box .mbr-text {
  text-align: left;
  color: #91e676;
}
.cid-sGZvH7h4Nn.popup-builder {
  background-color: #ffffff;
}
.cid-sGZvH7h4Nn.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-sGZvH7h4Nn.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-sGZvH7h4Nn .modal-content,
.cid-sGZvH7h4Nn .modal-dialog {
  height: auto;
}
.cid-sGZvH7h4Nn .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-sGZvH7h4Nn .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-sGZvH7h4Nn .form-wrapper .mbr-form .form-group,
  .cid-sGZvH7h4Nn .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-sGZvH7h4Nn .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-sGZvH7h4Nn .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sGZvH7h4Nn .mbr-text {
  text-align: center;
  color: #000000;
}
.cid-sGZvH7h4Nn .pt-0 {
  padding-top: 0 !important;
}
.cid-sGZvH7h4Nn .pb-0 {
  padding-bottom: 0 !important;
}
.cid-sGZvH7h4Nn .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-sGZvH7h4Nn .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-sGZvH7h4Nn .modal-open {
  overflow: hidden;
}
.cid-sGZvH7h4Nn .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-sGZvH7h4Nn .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-sGZvH7h4Nn .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-sGZvH7h4Nn .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-sGZvH7h4Nn .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-sGZvH7h4Nn .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-sGZvH7h4Nn .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-sGZvH7h4Nn .modal-content {
  background: #6fab5c;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-sGZvH7h4Nn .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-sGZvH7h4Nn .modal-backdrop.fade {
  opacity: 0;
}
.cid-sGZvH7h4Nn .modal-backdrop.show {
  opacity: .5;
}
.cid-sGZvH7h4Nn .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-sGZvH7h4Nn .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sGZvH7h4Nn .modal-header {
    padding: 1rem;
  }
}
.cid-sGZvH7h4Nn .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-sGZvH7h4Nn .modal-header .close:hover {
  opacity: 1;
}
.cid-sGZvH7h4Nn .modal-header .close:focus {
  outline: none;
}
.cid-sGZvH7h4Nn .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-sGZvH7h4Nn .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 100%;
}
@media (min-width: 992px) {
  .cid-sGZvH7h4Nn .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sGZvH7h4Nn .modal-body {
    padding: 1rem;
  }
}
.cid-sGZvH7h4Nn .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-sGZvH7h4Nn .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sGZvH7h4Nn .modal-footer {
    padding: 1rem;
  }
}
.cid-sGZvH7h4Nn .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-sGZvH7h4Nn .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-sGZvH7h4Nn .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-sGZvH7h4Nn .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-sGZvH7h4Nn .modal-sm {
    max-width: 300px;
  }
  .cid-sGZvH7h4Nn .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-sGZvH7h4Nn .modal-lg,
  .cid-sGZvH7h4Nn .modal-xl {
    max-width: 800px;
  }
  .cid-sGZvH7h4Nn .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-sGZvH7h4Nn .modal-xl {
    max-width: 1140px;
  }
  .cid-sGZvH7h4Nn .container {
    max-width: 1140px;
  }
}
.cid-sGZvH7h4Nn .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-sGZvH7h4Nn .container {
    max-width: 720px;
  }
}
.cid-sGZvH7h4Nn .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-sGZvH7h4Nn .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-sGZvH7h4Nn .form-group {
  margin-bottom: 1rem;
}
.cid-sGZvH7h4Nn .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-sGZvH7h4Nn .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sGZvH7h4Nn .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-sGZvH7h4Nn .mbr-section-btn {
  margin: 0;
}
.cid-sGZvH7h4Nn .mbr-section-btn .btn {
  margin: 0;
}
.cid-sGNK7GrYZ7 {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #161616;
}
.cid-sGNK7GrYZ7 .mbr-section-title {
  color: #ffffff;
}
.cid-sGNK7GrYZ7 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sGNL5zlytV {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #161616;
}
@media (max-width: 991px) {
  .cid-sGNL5zlytV .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sGNL5zlytV .row {
  flex-direction: row-reverse;
}
.cid-sGNL5zlytV img {
  width: 100%;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  border-radius: 3rem;
}
.cid-sGVeRlQQFv {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #161616;
}
.cid-sGVeRlQQFv .mbr-section-title {
  color: #ffffff;
}
.cid-sGVeRlQQFv .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sGO0HcqBgm {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #6fab5c;
}
@media (min-width: 1500px) {
  .cid-sGO0HcqBgm .container {
    max-width: 1400px;
  }
}
.cid-sGO0HcqBgm .mbr-section-subtitle {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 21px;
}
.cid-sGO0HcqBgm .mbr-section-subtitle.display-4 {
  line-height: 1.375;
}
.cid-sGO0HcqBgm .main-title {
  margin-bottom: 56px;
  color: #ffffff;
}
.cid-sGO0HcqBgm .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #6592e6;
  background-color: rgba(136, 198, 142, 0.15);
  margin-bottom: 26px;
}
.cid-sGO0HcqBgm .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-sGO0HcqBgm img {
  width: 100%;
}
.cid-sGVftNMKzI {
  display: flex;
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #000000;
  background: linear-gradient(90deg, #000000, #165f15);
}
.cid-sGVftNMKzI .mbr-overlay {
  background: #1516b0;
  background: linear-gradient(90deg, #1516b0, #adcde9);
}
.cid-sGVftNMKzI .mbr-section-title {
  margin: 0;
}
.cid-sGVftNMKzI .mbr-text {
  color: #efefef;
}
.cid-sGVftNMKzI .card-title {
  text-align: left;
  color: #ffffff;
}
.cid-sGVftNMKzI .card-img {
  text-align: left;
}
.cid-sGVftNMKzI .card .card-img span {
  font-size: 60px;
  color: #ffffff;
}
.cid-sGVftNMKzI .header-content {
  margin-left: 3rem;
  margin-right: 3rem;
  -webkit-align-self: stretch;
  align-self: stretch;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-sGVftNMKzI .header-content .text-row {
  margin: auto 0;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sGVftNMKzI .features-row {
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-sGVftNMKzI .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sGVftNMKzI .header-content {
    margin-right: 0;
    margin-left: 0;
  }
}
.cid-sGVftNMKzI .title-cont,
.cid-sGVftNMKzI .mbr-section-title DIV {
  text-align: center;
}
.cid-sGVftNMKzI .card-box .mbr-text {
  text-align: left;
}
.cid-sGVftNMKzI .mbr-section-subtitle,
.cid-sGVftNMKzI .mbr-section-btn {
  text-align: center;
}
.cid-sGVwT1yf3x {
  padding-top: 7rem;
  padding-bottom: 0rem;
  background-color: #161616;
}
.cid-sGVwT1yf3x .title {
  padding: 0 2rem;
  color: #ffffff;
  text-align: center;
}
.cid-sGVwT1yf3x .card-number {
  min-width: fit-content;
  color: #0196e3;
}
.cid-sGVwT1yf3x .card-title {
  color: #6fab5c;
}
.cid-sGVwT1yf3x .card-wrapper {
  overflow: visible;
  display: flex;
  align-items: center;
  padding: 3rem 4rem;
  border-radius: 3rem;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  transition: all 0.3s;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .cid-sGVwT1yf3x .card-wrapper {
    flex-direction: row;
    padding: 1rem 2rem;
  }
}
.cid-sGVwT1yf3x .card-wrapper:hover {
  background: #fafafa;
}
.cid-sGVwT1yf3x .mbr-iconfont {
  font-size: 1.5rem;
  color: #6fab5c;
}
.cid-sGVwT1yf3x .card-box {
  margin: auto;
  padding-left: 3rem;
}
@media (max-width: 767px) {
  .cid-sGVwT1yf3x .card-box {
    padding-left: 0;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 992px) {
  .cid-sGVwT1yf3x .mt-5 {
    margin-top: 0.5rem!important;
  }
}
.cid-sGVwT1yf3x .card-text {
  color: #bbbbbb;
}
.cid-sGVCldljp5 {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #161616;
}
.cid-sGVCldljp5 .title {
  padding: 0 2rem;
  color: #ffffff;
  text-align: center;
}
.cid-sGVCldljp5 .card-number {
  min-width: fit-content;
  color: #0196e3;
}
.cid-sGVCldljp5 .card-title {
  color: #6fab5c;
}
.cid-sGVCldljp5 .card-wrapper {
  overflow: visible;
  display: flex;
  align-items: center;
  padding: 3rem 4rem;
  border-radius: 3rem;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  transition: all 0.3s;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .cid-sGVCldljp5 .card-wrapper {
    flex-direction: row;
    padding: 1rem 2rem;
  }
}
.cid-sGVCldljp5 .card-wrapper:hover {
  background: #fafafa;
}
.cid-sGVCldljp5 .mbr-iconfont {
  font-size: 1.5rem;
  color: #6fab5c;
}
.cid-sGVCldljp5 .card-box {
  margin: auto;
  padding-left: 3rem;
}
@media (max-width: 767px) {
  .cid-sGVCldljp5 .card-box {
    padding-left: 0;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 992px) {
  .cid-sGVCldljp5 .mt-5 {
    margin-top: 0.5rem!important;
  }
}
.cid-sGVCldljp5 .card-text {
  color: #bbbbbb;
}
.cid-sGVEieblsQ {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #161616;
}
.cid-sGNRhZGyvg {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #161616;
}
.cid-sGNRhZGyvg .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sGNRhZGyvg .img-item,
.cid-sGNRhZGyvg img {
  height: 100%;
  object-fit: cover;
}
.cid-sGNRhZGyvg .img-col {
  padding: 0;
}
.cid-sGNRhZGyvg .col-auto {
  width: 100%;
}
.cid-sGNRhZGyvg .wrapper {
  background: #1e1e1e;
  padding: 5rem 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
  margin: 0 1rem;
}
@media (max-width: 767px) {
  .cid-sGNRhZGyvg .wrapper {
    padding: 3rem 0rem;
    margin: 0 1rem;
  }
}
.cid-sGNRhZGyvg textarea {
  min-height: 200px;
}
.cid-sGNRhZGyvg .btn {
  display: inline-block;
  padding: 0.8rem 1.8rem;
}
.cid-sGNRhZGyvg .content {
  max-width: 500px;
  margin: 5rem auto;
}
.cid-sGNRhZGyvg .form-control,
.cid-sGNRhZGyvg .field-input {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  background-color: #232323;
  border-color: #31363b;
  color: #1b2026;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sGNRhZGyvg .form-control::-webkit-input-placeholder,
.cid-sGNRhZGyvg .field-input::-webkit-input-placeholder,
.cid-sGNRhZGyvg .form-control::-webkit-input-placeholder,
.cid-sGNRhZGyvg .field-input::-webkit-input-placeholder {
  color: #777777;
}
.cid-sGNRhZGyvg .form-control:-moz-placeholder,
.cid-sGNRhZGyvg .field-input:-moz-placeholder,
.cid-sGNRhZGyvg .form-control:-moz-placeholder,
.cid-sGNRhZGyvg .field-input:-moz-placeholder {
  color: #777777;
}
.cid-sGNRhZGyvg .form-control:hover,
.cid-sGNRhZGyvg .field-input:hover,
.cid-sGNRhZGyvg .form-control:focus,
.cid-sGNRhZGyvg .field-input:focus {
  background-color: #31363b;
  border-color: #31363b !important;
  color: #1b2026;
  box-shadow: none;
  outline: none;
}
.cid-sGNRhZGyvg .form-control:hover::-webkit-input-placeholder,
.cid-sGNRhZGyvg .field-input:hover::-webkit-input-placeholder,
.cid-sGNRhZGyvg .form-control:focus::-webkit-input-placeholder,
.cid-sGNRhZGyvg .field-input:focus::-webkit-input-placeholder,
.cid-sGNRhZGyvg .form-control:hover::-webkit-input-placeholder,
.cid-sGNRhZGyvg .field-input:hover::-webkit-input-placeholder,
.cid-sGNRhZGyvg .form-control:focus::-webkit-input-placeholder,
.cid-sGNRhZGyvg .field-input:focus::-webkit-input-placeholder {
  color: #777777;
}
.cid-sGNRhZGyvg .form-control:hover:-moz-placeholder,
.cid-sGNRhZGyvg .field-input:hover:-moz-placeholder,
.cid-sGNRhZGyvg .form-control:focus:-moz-placeholder,
.cid-sGNRhZGyvg .field-input:focus:-moz-placeholder,
.cid-sGNRhZGyvg .form-control:hover:-moz-placeholder,
.cid-sGNRhZGyvg .field-input:hover:-moz-placeholder,
.cid-sGNRhZGyvg .form-control:focus:-moz-placeholder,
.cid-sGNRhZGyvg .field-input:focus:-moz-placeholder {
  color: #777777;
}
.cid-sGNRhZGyvg .jq-number__spin:hover,
.cid-sGNRhZGyvg .jq-number__spin:focus {
  background-color: #31363b;
  border-color: #31363b;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-sGNRhZGyvg .jq-number__spin {
  background-color: #232323;
  border-color: #31363b;
  color: #1b2026;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sGNRhZGyvg .jq-selectbox li,
.cid-sGNRhZGyvg .jq-selectbox li {
  background-color: #232323;
  color: #ffffff;
}
.cid-sGNRhZGyvg .jq-selectbox li:hover,
.cid-sGNRhZGyvg .jq-selectbox li.selected {
  background-color: #31363b;
  color: #ffffff;
}
.cid-sGNRhZGyvg .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-sGNRhZGyvg .jq-number__spin.minus:hover:after,
.cid-sGNRhZGyvg .jq-number__spin.plus:hover:after {
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.cid-sGNRhZGyvg .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-sGNRhZGyvg .jq-number__spin.minus:after,
.cid-sGNRhZGyvg .jq-number__spin.plus:after {
  border-top-color: #31363b;
  border-bottom-color: #31363b;
}
.cid-sGNRhZGyvg input::-webkit-clear-button {
  display: none;
}
.cid-sGNRhZGyvg input::-webkit-inner-spin-button {
  display: none;
}
.cid-sGNRhZGyvg input::-webkit-outer-spin-button {
  display: none;
}
.cid-sGNRhZGyvg input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-sGNRhZGyvg H4 {
  color: #6fab5c;
}
.cid-sGNRhZGyvg H3 {
  color: #ffffff;
}
.cid-sGNRVfzNjY {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #161616;
}
.cid-sGNRVfzNjY .row-links {
  width: 100%;
  justify-content: center;
}
.cid-sGNRVfzNjY .social-row {
  width: 100%;
  justify-content: center;
}
.cid-sGNRVfzNjY .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-sGNRVfzNjY .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-sGNRVfzNjY .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-sGNRVfzNjY .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-sGNRVfzNjY .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-sGNRVfzNjY .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-sGNRVfzNjY .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sGNRVfzNjY .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-sGNRVfzNjY .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sGNRVfzNjY .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sGNRVfzNjY .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-sGNRVfzNjY .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-sGNRVfzNjY .media-container-row .mbr-text {
  color: #88c68e;
}
